.Rproj.user
.Rhistory
.RData
.Ruserdata

# Rasters with leaf spring index data
resources/rasters/leaf*
!resources/rasters/leaf/.gitkeep

# Rasters with bloom spring index data
resources/rasters/bloom*
!resources/rasters/bloom/.gitkeep